<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyf.scholarship.zy.mapper.ZyfZyMapper">
    <select id="queryPageList" resultType="java.util.Map">
        select zyf_zy.id as id, zy_name as zyName, xy_name as xyName
        from zyf_zy, zyf_xy
        <where>
            zyf_zy.xy_id = zyf_xy.id
            <if test="query.zyName != null and query.zyName != ''">
                and zyf_zy.zy_name like #{query.zyName}.trim
            </if>
            <if test="query.xyName != null and query.xyName != ''">
                and zyf_xy.xy_name like #{query.xyName}.trim
            </if>
        </where>
    </select>
</mapper>
